

*.in
*.db
*.sqlite
*.log

**/*.in
**/*.db
**/*.sqlite
**/*.log

.venv/
venv/

.idea/

__pycache__/
*.pyc

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

.git/
.gitignore
.env
docs/
*.md

infra/
**Dockerfile*
*docker-compose*
.dockerignore